!!! XML
%rss{ :version => "2.0" } 
  %channel 
    %title Daily delicious feed for #{@user}
    %link http://feeds.delicious.com/v2/json/#{@user}?count=25
    %description A delicious feed, grouped by day, in RSS format.
    %pubDate= Time.now.rfc822
    - for day in @p 
      %item
        %guid{:isPermaLink => 'false'} #{day[:date].to_i}
        %title Links for #{day[:title_date]}
        %description
          %ul
            - day[:bookmarks].each do |bm|
              %li
                %a{:href => bm[:url]} #{bm[:title]}
        %author= @user
        %pubDate= day[:date].rfc822