!!! XML
%rss{ :version => "2.0" } 
  %channel 
    %title Daily delicious feed for #{@user}
    %link http://feeds.delicious.com/v2/json/#{@user}?count=25
    %description A delicious feed, grouped by day, in RSS format.
    %pubDate= Time.now 
    - for day in @p 
      %item 
        %title Links for #{day[:title_date]}
        %description
          %ul
            - for bm in day[:bookmarks]
              %li
                %a{:href => bm[:url]} #{bm[:title]}
        %author= @user
        %pubDate= day[:date]